<div id="work" class="page">
  <div class="container">
      <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Projektit</h2>
                    <h3 class="title-description">Tällä sivustolla suunnitellaan ja toteutetaan projekteja.</h3>              
                </div>    
            </div>
        </div>

 <!-- Portfolio Projects -->
        <div class="row">
          <div class="span12">
              <!-- Filter -->
              <!--
                <nav id="projects-options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                      <li class="type-work">Projects</li>
                        <li><a href="#filter" data-option-value="*" class="selected">All Projects</a></li>
                        <% @categories.each do |c| %>
                        <li><a href="#filter" data-option-value=".<%= c.name %>"><%= c.name %></a></li>
                        <% end %>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>
            
            <div class="span12">
              <div class="row">
                  <section id="projects">
                      <ul id="thumbs">
                        
              <!-- Item Project and Filter Name -->
                        <% @projects.each do |p| %>
                          <li class="item-thumbs span3 <%= p.category %>">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="<%= p.title %>" href="/project/<%= p.id %>">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="<%= p.image_url %>" alt="<%= p.summary %>">
                                <h4><%= p.title %></h4>
                                <p><%= p.summary %></p>
                            </li>
                          <!-- End Item Project -->
                        <% end %>
                      </ul>

                  </section>
              </div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>

<!-- End Our Work Section -->