<div id="events" class="page-alternate">
  <div class="container">
      <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Tapahtumat</h2>
                </div>    
            </div>
        </div>

 <!-- Portfolio Projects -->
        <div class="row">
          <div class="span12">
            <!-- Filter -->
              <nav id="eventslist-options" class="work-nav">
                  <ul id="filters" class="option-set" data-option-key="filter">
                      <li><a href="#filter" data-option-value=".future" class="selected">Kaikki kaupungit</a></li>
                      <% @cities.each do |c| %>
                      <li><a href="#filter" data-option-value=".future.<%= c.downcase %>"><%= c %></a></li>
                      <% end %>
                      <li class="filter-past"><a href="#filter" data-option-value=".past">Näytä menneet</a></li>
                  </ul>
              </nav>
              <!-- End Filter -->
          </div>
          
          <div class="span12">
            <div class="row">

                <section id="eventslist">
                    <ul id="thumbs">
                      
            <!-- Item Project and Filter Name -->
                      <% @events.each do |e| %>
                      <!--
                        <li class="item-thumbs span11 <%= e.city ? e.city.downcase : '' %> <%= e.past ? 'past' : 'future' %>">
                              <!-- Fancybox - Gallery Enabled - Title - Full Image --
                              <span class="event-date"><%= e.short_date %></span>
                              <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="<%= e.title %>" href="<%= e.url %>">
                                  <span class="overlay-img"></span>
                                  <span class="overlay-img-thumb font-icon-search"></span>
                              </a>
                              <!-- Thumb Image and Description --
                              <img src="<%= e.image_url%>" alt="<%= e.summary %>">
                              <h4><%= e.title %></h4>
                              <h6 class="event-details"><%= e.city ? e.city : 'Paikka X' %> <%= e.place ? '@ ' + e.place : '' %> <%= e.time ? 'klo ' + e.time : '' %></h6>
                              <p><%= e.summary %></p>
                          </li>
                        <!-- End Item Project -->

                        <li class="item-thumbs <%= e.city ? e.city.downcase : '' %> <%= e.past ? 'past' : 'future' %>">
                            <div class="row">
                              <!--<div class="span2 transparent">
                                
                              </div>-->
                              <div class="span3">
                                <!--<div class="event-date"><%= e.short_date %></div>-->
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="<%= e.title %>" href="<%= e.url %>">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>

                                <!-- Thumb Image and Description -->
                                <% if e.image_url %>
                                  <img src="<%= e.image_url%>" alt="<%= e.summary %>">
                                <% end %>
                              </div>
                              <div class="span9">
                                <div class="item-info">
                                  <h4><%= e.short_date + " " + e.title %></h4>
                                  <h6 class="event-details"><%= e.city ? e.city : 'Paikka X' %> <%= e.place ? '@ ' + e.place : '' %> <%= e.time ? 'klo ' + e.time : '' %></h6>
                                  <p><%= e.summary %></p>
                                </div>
                              </div>
                            </div>
                        </li>
                        <!-- End Item Project -->

                      <% end %>
                    </ul>

                </section>
            </div>
          </div>
        </div>

        <% if @calendar_url %>
          <div class="row">
            <div class="span12">
              <h3>Kalenteri</h2>
              <div class="full-calendar" data-calendar-url="<%= @calendar_url %>"></div>
            </div>
          </div>
        <% end %>
        <!-- End Portfolio Projects -->
    </div>
</div>