<div id="events" class="page-alternate">
  <div class="container">
      <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Tapahtumat</h2>
                </div>    
            </div>
        </div>

 <!-- Portfolio Projects -->
        <div class="row">
          <div class="span12">
            <!-- Filter -->
              <nav id="eventslist-options" class="work-nav">
                  <ul id="filters-city" class="option-set filters" data-option-key="city">
                      <li><a href="#filters-city=*" data-option-value=".future, .withinMonth, .withinYear" class="selected">Kaikki kaupungit</a></li>
                      <% @cities.each do |c| %>
                      <li><a href="#filters-city=<%= c.downcase %>" data-option-value=".<%= c.downcase %>"><%= c %></a></li>
                      <% end %>
                      <li class="filter-past"><a href="#filters-city" data-option-value=".past">N채yt채 menneet</a></li>
                  </ul>
                  
                  <!--
                  <ul id="filters-when" class="option-set filters" data-option-key="when">
                      <li><a href="#filters-when" data-option-value=".withinMonth" class="selected">Kuukauden sis채ll채</a></li>
                      <li><a href="#filters-when" data-option-value=".withinYear, .withinMonth, .future">Kaikki tulevat</a></li>
                      <li><a href="#filters-when" data-option-value=".past">Menneet</a></li>
                  </ul>-->
              </nav>
              <!-- End Filter -->
          </div>
          
          <div class="span12">
            <div class="row">

                <section id="eventslist">
                    <ul id="thumbs">
                      
            <!-- Item Project and Filter Name -->
                      <% @events.each do |e| %>
                        <li class="span12 item-thumbs <%= e.city ? e.city.downcase : '' %> <%= e.when %>" data-date=<%= e.date %>>
                            <div class="row">
                              <!--<div class="span2 transparent">
                                
                              </div>-->
                              <div class="span1 event-image" style="background-image: url(<%= e.image_url ? e.image_url : '' %>)">
                                <!--<div class="event-date"><%= e.short_date %></div>-->
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="<%= e.title %>" href="<%= e.url %>">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>

                                <!-- Thumb Image and Description -->
                                <% if e.image_url %>
                                  <img class="event-image-large" src="<%= e.image_url %>" alt="<%= e.summary %>">
                                <% end %>
                              </div>
                              <div class="span11 event-info">
                                  <h4><%= e.short_date + " " + e.title %></h4>
                                  <h6 class="event-details"><%= e.city ? e.city : 'Paikka X' %> <%= e.place ? '@ ' + e.place : '' %> <%= e.time ? 'klo ' + e.time : '' %></h6>
                              </div>
                            </div>
                        </li>
                        <!-- End Item Project -->

                      <% end %>
                    </ul>

                </section>
            </div>
          </div>
        </div>

        <% if @calendar_url %>
          <div class="row">
            <div class="span12">
              <div class="full-calendar" data-calendar-url="<%= @calendar_url %>"></div>
            </div>
          </div>
        <% end %>
        <!-- End Portfolio Projects -->
    </div>
</div>