<div id="work" class="page">
  <div class="container">
    <!-- Title Page -->
      <div class="row">
          <div class="span6">
              <div class="title-page">
                  <!--<img src="http://www.clker.com/cliparts/L/D/p/a/f/m/green-leaf-md.png" style="float:left; width: 140px">-->
                  <h2 class="title"><%= I18n.t 'chakra.projects' %></h2>   

              </div>    
          </div>
          <div class="span6">
            <h3 class="title-description">Täällä voit selata suunnitteilla ja käynnissä olevia projekteja joihin voi osallistua.</h3>
          </div>
      </div>

 <!-- Portfolio Projects -->
        <div class="row">
            <!--<div class="span12">
              <!-- Filter -->
              <!--
                <nav id="projects-options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                      <li class="type-work">Projects</li>
                        <li><a href="#filter" data-option-value="*" class="selected">All Projects</a></li>
                        <% @categories.each do |c| %>
                        <li><a href="#filter" data-option-value=".<%= c.name %>"><%= c.name %></a></li>
                        <% end %>
                    </ul>
                </nav>
              </div>-->
            
            <div class="span9">
              <h3 class="spec"><%= I18n.t 'chakra.ongoing' %></h3>
              <div class="row">                
                  <section id="projects">
                      <ul id="thumbs">
                        
                        <!-- Item Project and Filter Name -->
                        <% @projects.each do |p| %>
                          <li class="span3 item-thumbs <%= p.category %>">
                            <div class="row">
                              <div class="span3">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <!-- <%= p.url %> -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="<%= p.title %>" href="<%= Discourse.base_url%>/project/<%= p.id %>">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-search"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="<%= p.image_url %>" alt="<%= p.summary %>">
                                <div class="row">
                                  <div class="span3">
                                    <div class="item-info">
                                      <h4><%= p.title %></h4>
                                      <p><%= p.summary %></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <!-- End Item Project -->
                        <% end %>
                      </ul>

                  </section>
              </div>
            </div>
            <div class="span3">
              <h3 class="spec"><%= I18n.t 'chakra.planned' %></h3>
              <ul>
                <% @ideas.each do |i| %>
                  <li><a href="<%= i.url %>"><%= i.title %></a></li>
                <% end %>
              </ul>
              <h3 class="spec spec-offset"><%= I18n.t 'chakra.ideas' %> <span class="color-text">?</span></h3> <%= I18n.t 'chakra.ideas_briefing' %> <a href="<%= Discourse.base_url %>/create_idea" class="button button-small"><%= I18n.t 'chakra.new_idea' %></a>
            </div>
    </div>
  </div>
</div>

<!-- End Our Work Section -->