<!-- Blog Section -->
<div id="blog" class="page-alternate">
	<div class="container">
    	<div class="row">
        	<div class="span12">
              <% @blogposts.each do |p| %>
            	<article class="post">
                	<div class="post-thumb">
                    	<a href="blog/<%= p.id %>">
                        	<img src="<%= p.image_url %>" alt="<%= p.title %>" />
                        </a>
                    </div>
                	<h2 class="entry-title">
                    	<a href="blog/<%= p.id %>"><%= p.title %></a>
                    </h2>
                    <%= render partial: "blogmeta", object: p %>
                    
                    <div class="entry-content">
                    	<p><%= p.summary %></p>
                        
                        <p>
                        	<a class="more-link" href="blog/<%= p.id %>">Continue Reading...</a>
                        </p> 
                    </div>                  
                </article>
              <% end %>
                
                <!--
                <div class="navigation page-navigation">
                	<a class="prev" href="#">Prev</a>
                    <a class="number">1</a>
                    <a class="number">2</a>
                    <a class="number current">3</a>
                    <a class="number">4</a>
                    <a class="number">5</a>
                    <a class="next" href="#">Next</a>
                </div>
                -->
                
            </div>
        </div>
    </div>
</div>
<!-- End Blog Section -->