    
<!-- About Section -->
<div id="project" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span10">
            <div class="title-page">
                <h3 class="spec">Projekti</h3>
                <a href="<%= @project.url %>"><h2 class="title"><%= @project.title %></h2></a>
                <h3 class="title-description"><%= @project.summary %></h3>
                
                <div class="page-description">
                    <p><%= @project.body.html_safe %></p>
                </div>
            </div>
        </div>
        <div class="span2">
            <div class="row margin-40">
              <!--<h4><a href="<%= @project.url %>"><span class="font-icon-comments"></span> Keskusteluun</a></h4>-->
              <h3 class="spec">Mukana</h3> 
                <p>
                    <% @project.participants.each do |p| %>

                            <a title="<%= p.username %>" href="<%= Discourse.base_url %>/users/<%= p.username %>">
                                <img src="<%= p.avatar_template.gsub("{size}", "32") %>" alt="<%= p.name %>">
                            </a>
                            <!--<h4 class="profile-name"><%= p.name %></h4>-->
                            <!--
                            <div class="social">
                              <ul class="social-icons">
                                  <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="font-icon-social-dribbble"></i></a></li>
                                    <li><a href="#"><i class="font-icon-social-facebook"></i></a></li>
                                </ul>
                            </div>-->
                    <% end %>  
                </p>
                <p><% if @project.can_join(@current_user) %>
                  <a href="<%= Discourse.base_url %>/join_project/<%= @project.id %>" class="button button-small">Liity</a>
                <% elsif @project.participating(@current_user) %>
                  <a href="<%= Discourse.base_url %>/leave_project/<%= @project.id %>" class="button button-small">Poistu</a>
                <% end %></p>              
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    <!--
    <div class="row margin-40">
      <div class="span4">
          <h3>Mitä?</h3>
      <p> Tarjoamme innostavat ja kotoisat puitteet, joiden sisällä voi yhdessä tekemisen, oppimisen ja kokeilun kautta luoda yhteyttä itseen, toisiin ja toisista huolehtimiseen. Autamme tuottamaan yksilön ja yhteisöjen kannalta merkityksellistä sisältöä ihmisten jokapäiväistä elämää rikastuttamaan. Kannustamme ihmisiä ottamaan käytännön askelia, jotka johdattavat meitä kohti kestävää, hyvinvoivaa ja inhimillistä maailmaa. </p>
        </div>
        
        <div class="span4">
          <h3>Miksi?</h3>
            <p>Koemme, että maailmassa tarvitaan enemmän tasa-arvoista yhdessä tekemistä, joka ei perustu taloudelliselle hyödylle. Nykykulttuurissa painotetaan helposti yksilöiden välistä kilpailua. Materiaalisia palkintoja pidetään usein tärkeämpinä kuin ihmisenä kasvamista. Kaikille se ei tarjoa kokemusta elämän mielekkyydestä tai siitä, että omalla panoksella olisi merkitystä. Haluamme olla mukana rakentamassa vastavuoroisuuteen, välittämiseen ja henkiseen hyvinvointiin perustuvaa kulttuuria.
</p>
        </div>
        
        <div class="span4">
          <h3>Kuinka?</h3>
            <p>Alustan [tän tilalle yhteisön nimi] on tarkoitus toimia avoimena, ketteränä ja kevyenä lähtökohtana yhteiskunnalliseen osallistumiseen, ympäristöön vaikuttamiseen sekä elävän elämän yhteyksien muodostamiseen. Kauttamme tavoittaa ihmisten verkoston, jolla on näkemystä ja tahtoa parantaa ja suojella elämää ympärillämme. Osallistumisesta on tehty mahdollisimman helppoa. </p>

<p>Alustalla kuka tahansa voi toteuttaa toiminta-ajatukseemme soveltuvia ideoita. Siellä voit esimerkiksi esitellä itsesi, tutustua muihin käyttäjiin, kutsua ihmisiä osallistumaan projektiisi sekä keskustella sinulle tärkeistä asioista. Toimintamme ei perustu millekään tietylle ideologialle emmekä tavoittele taloudellista voittoa. </p>
        </div>
        
    </div>
    -->
    
    <div class="sep">
      <span class="separator"></span>
    </div>
    
    <!-- People -->
    <div class="row">
        
    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->