<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Yhteinen</title>   

<meta name="description" content="" /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<%= stylesheet_link_tag "chakra" %>

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<meta property="og:image" content="<%= Discourse.base_url %>/plugins/chakra/images/logo_dark_@2x.png">

<%= javascript_include_tag "chakra" %>

<!-- Analytics -->
<!--
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'YOUR ID']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>-->

<!-- End Analytics -->
</head>


<body>

<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
  <div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->


<!-- Header -->
<header>
    <div class="sticky-nav">
      <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
          <a id="goUp" href="<%= Discourse.base_url %>" title="Chakra | Responsive One Page Template">Yhteinen</a>
        </div>

        <% if true %>
        <nav id="menu">
          <ul id="menu-nav">
              <li><a href="<%= Discourse.base_url %>/projects" class="external">Projektit</a></li>
                <li><a href="<%= Discourse.base_url %>/events" class="external">Tapahtumat</a></li>
                <li><a href="<%= Discourse.base_url %>/about" class="external">Tietoa</a></li>
                <li><a href="<%= Discourse.base_url %>/blog" class="external">Blogi</a></li>
                <li><a href="<%= Discourse.base_url %>/latest" class="external">Keskustelu</a></li>
            </ul> 
        </nav>
        <% elsif @project %>
        <nav id="menu">
          <ul id="menu-nav">
                <li class="current"><a href="<%= Discourse.base_url %>/#work" class="external">Projektit</a></li>
                <li><a href="<%= Discourse.base_url %>/#events" class="external">Tapahtumat</a></li>
                <li><a href="<%= Discourse.base_url %>/#about" class="external">Tietoa</a></li>
                <li><a href="<%= Discourse.base_url %>/blog" class="external">Blogi</a></li>
                <li><a href="<%= Discourse.base_url %>/latest" class="external">Keskustelu</a></li>
            </ul>
        </nav>
        <% elsif @blogposts %>
        <nav id="menu">
          <ul id="menu-nav">
                <li><a href="<%= Discourse.base_url %>/#work">Projektit</a></li>
                <li><a href="<%= Discourse.base_url %>/#events" class="external">Tapahtumat</a></li>
                <li><a href="<%= Discourse.base_url %>/#about" class="external">Tietoa</a></li>
                <li class="current"><a href="<%= Discourse.base_url %>/blog" class="external">Blogi</a></li>
                <li><a href="<%= Discourse.base_url %>/latest" class="external">Keskustelu</a></li>
            </ul>
        </nav>        
        <% else %>
        <nav id="menu">
          <ul id="menu-nav">
              <li><a href="<%= Discourse.base_url %>/#work">Projektit</a></li>
                <li><a href="<%= Discourse.base_url %>/#events">Tapahtumat</a></li>
                <li><a href="<%= Discourse.base_url %>/#about">Tietoa</a></li>
                <li><a href="<%= Discourse.base_url %>/blog" class="external">Blogi</a></li>
                <li><a href="<%= Discourse.base_url %>/latest" class="external">Keskustelu</a></li>
            </ul>
        </nav>
        <% end %>
        
    </div>
</header>
<!-- End Header -->

<!-- Homepage Slider -->
<%- if @display_slider %>
<div id="home-slider">  
    <div class="overlay"></div>

  <div class="container">
      <div class="row">
          <div class="span12">
                <div class="slider-text">
                    <div id="slidecaption"></div>
                </div>
            </div>
        </div>
    </div>   
  
  <div class="control-nav">
        <!--<a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>-->
        <ul id="slide-list"></ul>
        
<!--        <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>-->
    </div>
</div>
<!-- End Homepage Slider -->
<%- end %>

<!-- Our Work Section -->

        <!-- End Title Page -->
        
<%= yield %>



<!-- Footer -->
<footer>
  <p class="credits"><!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
<span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
    ©
</span>
<!--[if lte IE 8]></span><![endif]--> 2013 Yhteinen</p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
  <i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->

<!-- End Js -->

</body>
</html>