<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Chakra | Responsive One Page Template</title>   

<meta name="description" content="" /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<%= stylesheet_link_tag 'bootstrap.min.css' %>

<!-- Main Style -->
<%= stylesheet_link_tag 'main' %>

<!-- Supersized -->
<%= stylesheet_link_tag 'supersized' %>
<%= stylesheet_link_tag 'supersized.shutter' %>

<!-- FancyBox -->
<%= stylesheet_link_tag 'fancybox/jquery.fancybox' %>

<!-- Font Icons -->
<%= stylesheet_link_tag 'fonts' %>

<!-- Shortcodes -->
<%= stylesheet_link_tag 'shortcodes' %>

<!-- Responsive -->
<%= stylesheet_link_tag 'bootstrap-responsive.min' %>
<%= stylesheet_link_tag 'responsive' %>

<!-- Custom CSS -->
<%= stylesheet_link_tag 'custom' %>

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<%= javascript_include_tag "modernizr.custom.00874" %>

<!-- Analytics -->
<!--
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'YOUR ID']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>-->

<!-- End Analytics -->
</head>


<body>

<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
  <div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<%- if @display_slider %>
<div id="home-slider">  
    <div class="overlay"></div>

  <div class="container">
      <div class="row">
          <div class="span12">
                <div class="slider-text">
                    <div id="slidecaption"></div>
                </div>
            </div>
        </div>
    </div>   
  
  <div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>
        
        <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->
<%- end %>

<!-- Header -->
<header>
    <div class="sticky-nav">
      <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
          <a id="goUp" href="#home-slider" title="Chakra | Responsive One Page Template">Chakra Template</a>
        </div>

        <% if @project %>
        <nav id="menu">
          <ul id="menu-nav">
                <li class="current"><a href="<%= Discourse.base_url %>/#work" class="external">Projektit</a></li>
                <li><a href="<%= Discourse.base_url %>/#events" class="external">Tapahtumat</a></li>
                <li><a href="<%= Discourse.base_url %>/#about" class="external">Tietoa</a></li>
                <li><a href="<%= Discourse.base_url %>/blog" class="external">Blogi</a></li>
                <li><a href="<%= Discourse.base_url %>/latest" class="external">Keskustelu</a></li>
            </ul>
        </nav>
        <% elsif @blogposts %>
        <nav id="menu">
          <ul id="menu-nav">
                <li><a href="<%= Discourse.base_url %>/#work">Projektit</a></li>
                <li><a href="<%= Discourse.base_url %>/#events" class="external">Tapahtumat</a></li>
                <li><a href="<%= Discourse.base_url %>/#about" class="external">Tietoa</a></li>
                <li class="current"><a href="<%= Discourse.base_url %>/blog" class="external">Blogi</a></li>
                <li><a href="<%= Discourse.base_url %>/latest" class="external">Keskustelu</a></li>
            </ul>
        </nav>        
        <% else %>
        <nav id="menu">
          <ul id="menu-nav">
              <li class="current"><a href="<%= Discourse.base_url %>/#work">Projektit</a></li>
                <li><a href="<%= Discourse.base_url %>/#events">Tapahtumat</a></li>
                <li><a href="<%= Discourse.base_url %>/#about">Tietoa</a></li>
                <li><a href="<%= Discourse.base_url %>/blog" class="external">Blogi</a></li>
                <li><a href="<%= Discourse.base_url %>/latest" class="external">Keskustelu</a></li>
            </ul>
        </nav>
        <% end %>
        
    </div>
</header>
<!-- End Header -->

<!-- Our Work Section -->

        <!-- End Title Page -->
        
<%= yield %>



<!-- Footer -->
<footer>
  <p class="credits"><!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
<span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
    ©
</span>
<!--[if lte IE 8]></span><![endif]--> 2013 Yhteinen</p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
  <i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->

<%= javascript_include_tag "jquery_include" %>
<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script> <!-- Google Map API -->

<%= javascript_include_tag "bootstrap.min" %>
<%= javascript_include_tag "supersized.3.2.7.min" %>
<%= javascript_include_tag "waypoints" %>
<%= javascript_include_tag "waypoints-sticky" %>
<%= javascript_include_tag "jquery.isotope" %>
<%= javascript_include_tag "jquery.fancybox.pack" %>
<%= javascript_include_tag "jquery.fancybox-media" %>
<%= javascript_include_tag "jquery.tweet" %>
<%= javascript_include_tag "plugins" %>
<%= javascript_include_tag "main" %>

<!-- End Js -->

</body>
</html>

<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="author" content="Sam Saffron" />
  <meta name="copyright" content="Sam Saffron" />
  <meta content="Sam, Saffron, .NET, C#, Ruby, Rails, Weblog, SQL, Blog" name="keywords" />
  <meta name="description" content="Sam's Spot - Sam saffron's web log" />
  <%= csrf_meta_tag %>
  <link rel="alternate" type="application/rss+xml" title="Sam Saffron's Blog (RSS 2.0)" href="http://samsaffron.com/posts.rss"  />
  <title><%= yield :title  %></title>
  <%= stylesheet_link_tag 'blog' %>
  <script type='text/javascript'>window.q=[];window.$=function(f){q.push(f)}</script>
</head>

<body>
  <script>
    $(function() {
      $('pre > code').each(function(i, e) {
        hljs.highlightBlock(e, '    ')
      })
    })
  </script>
	<div id="wrapper">
		<div id="header">
			<div id="headerLogo">
        <div class='htitle'>
          <h3>Sam Saffron</h3>
          <p class='tagline'>Programming, Technology and the Art of Hacking</p>
        </div>
        <ul>
          <li>Ruby</li>
          <li>MiniProfiler</li>
          <li>SQL</li>
          <li>Dapper</li>
          <li>Media Browser</li>
          <li>C#</li>
        </ul>
			</div>
			<div class="clear"></div>
			<%= render :partial => "layouts/navbar" %>
		</div>
		<div id="content">
			
    </div>
    <% if controller.show_sidebar %>
    <div id="sidebar">
      <%= render :partial => "layouts/sidebar" %>
    </div>
    <% end %>
    <div class="clear"/>
		<div id="footer">
			syndication: <%= link_to "rss", "/posts.rss" %> <%= link_to "atom", "/posts.atom" %>
		</div>
	</div>

  <%= javascript_include_tag 'LAB' %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-50203-9']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_setSiteSpeedSampleRate', 20]);

    $LAB
    .script('http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    .wait()
    .script('http://cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js')
    .wait(function(){$.each(q,function(i,f){$(f)})})
    .script('http://www.google-analytics.com/ga.js');
  </script>
</body>-->

